/vendor/
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/debugbar/*

!writable/cache/.gitkeep
!writable/logs/.gitkeep
!writable/session/.gitkeep

.env.local
.env.*.local
*.cache
.DS_Store
Thumbs.db
desktop.ini
/.idea/
/.vscode/
/nbproject/
/build/
composer.phar
